# maven ignore
target/
*.war
*.zip
*.tar
*.tar.gz

# eclipse ignore
.settings/
.project
.classpath

# idea ignore
.idea/
*.ipr
*.iml
*.iws

# temp ignore
*.log
*.cache
*.diff
*.patch
*.tmp
.svn/

# system ignore
.DS_Store
Thumbs.db
target/
logs/

# the binary qservice
wqs
qservice 
bin
add_licence.sh
COMMENT_LICENSE
*.jar
kafka
ui
